{% extends "base.html" %}
{% block title %}Upload{% endblock %}
{% block mainblock %}
<div class="card card-common h-100">
    <div class="card-header">
        <h2>Upload</h2>
    </div>
    <div class="card-body">
        <div class="row">
            {% if upload_status %}
            <div class="ml-3 mr-3 mb-3 card-body shaded-background rounded-border">
                <span>{{ NumOfUploads }} booking records added</span>
            </div>
            {% else %}
            <br><br>
            {% endif %}
        </div>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input name="type" type="hidden" value="upload">
            <div>
                <label for='upload'>Upload CSV file</label>
                <input class="upload" id='upload' name='file' type='file' accept='.csv' required>
            </div>
            <div class="row mr-2 justify-content-end">
                <div class="col-md-1">
                    <div class="button-container">
                        <button type="submit" class="btn btn-primary" value="Upload">Upload</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}